In [4]:
import sqlite3
import pandas as pd
import datetime

In [9]:
conn = sqlite3.connect('hoteldata.sqlite')
conn

In [10]:
query = "SELECT name, url, rating, address FROM hoteldata WHERE img!=\"\" AND facility!=\"\" AND city=\"Bangalore\" ORDER BY rating desc LIMIT 5"

In [13]:
df = pd.read_sql(query, conn)

In [12]:
query

'SELECT name, url, rating, address FROM hoteldata WHERE img!="" AND facility!="" AND city="Bangalore" ORDER BY rating desc LIMIT 5'

In [14]:
df.head()

,name,url,rating,address
0,Best Western Plus Jagadish,https://www.google.com,4 star,"No 51, 4th Block, 11th Main, Jayanagar, Bangal..."
1,Casa Cottage,https://www.google.com,3 star,"N-2, clapham Street, Richmond road , Richmond ..."
2,The Elite Royale,https://www.google.com,3 star,"9th Main,13th Corss,6th Sector , H S R Layout-..."
3,Melange Luxury Service Apartment,https://www.google.com,3 star,"No 21 Suryamukhi Garden Apartments , Vittal Ma..."
4,The Orange Hotel,https://www.google.com,3 star,"No.90/6, Nr Innovative MultiplexOuter Ring Rd ..."

In [20]:
if df.shape[0]>0:
    values = list(df.values)

In [21]:
values

[array(['Best Western Plus Jagadish', 'https://www.google.com', '4 star',
        'No 51, 4th Block, 11th Main, Jayanagar, Bangalore , Jayanagar'],
       dtype=object),
 array(['Casa Cottage', 'https://www.google.com', '3 star',
        'N-2, clapham Street, Richmond road , Richmond Road'], dtype=object),
 array(['The Elite Royale', 'https://www.google.com', '3 star',
        '9th Main,13th Corss,6th Sector , H S R Layout-Koramangala'],
       dtype=object),
 array(['Melange Luxury Service Apartment', 'https://www.google.com',
        '3 star',
        'No 21 Suryamukhi Garden Apartments , Vittal Mallya Road'],
       dtype=object),
 array(['The Orange Hotel', 'https://www.google.com', '3 star',
        'No.90/6, Nr Innovative MultiplexOuter Ring Rd , Marathahalli'],
       dtype=object)]

In [49]:
content = 'Below are the options:\n\n'

for data in values:
    hotelname = data[0]
    link = data[1]
    rating = data[2]
    address = data[3]

    content = content + "Hotelname: "+hotelname+ "\nBook Now: " +link+ "\nRatting: "+rating+ "\nAddress: "+address + "\n\n"

In [50]:
print(content)

Below are the options:

Hotelname: Best Western Plus Jagadish
Book Now: https://www.google.com
Ratting: 4 star
Address: No 51, 4th Block, 11th Main, Jayanagar, Bangalore , Jayanagar

Hotelname: Casa Cottage
Book Now: https://www.google.com
Ratting: 3 star
Address: N-2, clapham Street, Richmond road , Richmond Road

Hotelname: The Elite Royale
Book Now: https://www.google.com
Ratting: 3 star
Address: 9th Main,13th Corss,6th Sector , H S R Layout-Koramangala

Hotelname: Melange Luxury Service Apartment
Book Now: https://www.google.com
Ratting: 3 star
Address: No 21 Suryamukhi Garden Apartments , Vittal Mallya Road

Hotelname: The Orange Hotel
Book Now: https://www.google.com
Ratting: 3 star
Address: No.90/6, Nr Innovative MultiplexOuter Ring Rd , Marathahalli